.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .card {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.7), rgba(39, 11, 96, 0.7)),
        url("https://img.atlasobscura.com/bFumW_WVpQDxEr_Ho5qExRWh5jXaZ2UEGaqyrWD34kE/rt:fit/h:390/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy9oamNp/Mm16eGNjYjdhYmNh/OWMzMTJmYjc0MzAw/Nl9DdXJ6b25fSGFs/bF8tX05vcnRoZXJu/X0ZhY2FkZV8tX1Vu/aXZlcnNpdHlfb2Zf/RGhha2FfLV9EaGFr/YV8yMDE1LTA1LTMx/XzE5OTIuSlBH.jpg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      text-align: center;

      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      p,
      span {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      button {
        width: 60%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }

    .right {
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 2.5rem;
        color: #555;
        margin-bottom: 1.5rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input,
        select {
          border: none;
          border-bottom: 2px solid #ddd;
          padding: 10px 8px;
          font-size: 1rem;
          transition: border-color 0.3s ease;

          &:focus {
            border-color: #938eef;
            outline: none;
          }
        }

        .error {
          color: red;
          font-size: 0.9rem;
          margin-top: -10px;
        }

        button {
          align-self: flex-end;
          width: 50%;
          padding: 12px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #7f78de;
          }
        }
      }
    }
  }
}
