@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

    .search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px; /* Adjust gap as needed */
  border: 1px solid themed("border");
  border-radius: 5px;
  padding: 5px;

  input {
    border: none;
    width: 100%; /* Adjust width for mobile */
    max-width: 500px; /* Set maximum width for tablet and larger screens */
    background-color: transparent;
    color: themed("textColor");
  }

  @media (max-width: 768px) { /* Tablet */
    gap: 50px; /* Adjust gap for tablet */
  }

  @media (max-width: 480px) { /* Mobile */
    width: 100%; /* Set width to full for mobile */
    padding: 0; /* Remove padding for mobile */
    border-radius: 0; /* Remove border radius for mobile */
    border: none; /* Remove border for mobile */
    box-shadow: none; /* Remove box shadow for mobile */
    background-color: transparent; /* Remove background color for mobile */
    gap: 5px; /* Adjust gap for mobile */
  }
}


    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile{
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet{
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
        }
      }
    }
  }
}