/* ForgetPasswordPage.css */

.forget-password-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.forget-password-box {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forget-password-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.forget-password-box p {
    font-size: 16px;
    margin-bottom: 30px;
}

.forget-password-box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forget-password-box input[type="email"],
.forget-password-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.forget-password-box input[type="email"]:focus,
.forget-password-box input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

.forget-password-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forget-password-box button:hover {
    background-color: #0056b3;
}

.forget-password-box a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.forget-password-box a:hover {
    text-decoration: underline;
}
