.settings-page {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto; /* Add margin-top to move the card down */
  text-align: center;

  .settings-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .logout-section {
    margin-top: 20px;
  }

  .logout-section button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: darkred;
    }
  }

  .confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    p {
      background: white;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }

    .confirmation-buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }

      button:first-child {
        background-color: red;
        color: white;

        &:hover {
          background-color: darkred;
        }
      }

      button:last-child {
        background-color: grey;
        color: white;

        &:hover {
          background-color: darkgrey;
        }
      }
    }
  }
}
